.o-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* components */

html{
    font-family: 'Roboto', sans-serif;
}

.c-header{
    height: 4rem;
    display: flex;
    justify-content: center;
}

.c-header__logo{
    display: flex;
    width: 30%;
    align-items: center;
}

.c-header__logo-pic{
    height: 3rem;
}

.c-main__profile{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.c-main__profile-picture{
    border-radius: 100%;
    height: 12.5rem;
    width: 12.5rem;
}

.c-main__profile-picture-company{
    border-radius: 100%;
    height: 3rem;
    width: 3rem;
    border: #74848c solid 1px;
    margin-right: -9rem;
    margin-top: -2.5rem;
    background-color: #fff;
}
.c-main__profile-name{
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.c-main__profile-bio{
    padding-top: 1rem;
    width: 25%;
    text-align: center;
}

.c-main__links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 25%;
    justify-items: center;
    /* height: 40vh; */
    padding-top: 1rem;
}

.c-main__links-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    padding-bottom: 0.5rem;
}

.c-main__links-text{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 100%;
    margin-top: 0.5rem;
}

.c-main__call{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.c-main__link{
    cursor: pointer;
    color: #0645AD;
    text-decoration: underline;
}

.c-main__call-link{
    background-color: #74848c;
    height: 2rem;
    width: 10rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.c-pic{
    width: 7rem;
    height: 7rem;
    border-radius: 20%;
}

.c-header__logo{
    width: 50%;
}

#scale{
    transform: scale(0.5);
}

@media only screen and (max-width: 600px) {
  

.c-main__profile-bio{
    width: 90%;
}

.c-main__links{
    width: 90%;
}
  }